// layout/_header.scss

@import '../abstracts/functions';
@import '../abstracts/variables';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: $color-white;
  background: darken-custom($color-primary, 20%);

  &__nav {
    display: flex;
  }

  &__menu {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    list-style: none;
  
    @media (max-width: $mqMinWidth) {
      display: none; // Ocultar el menú en dispositivos pequeños
    }

    &-item {
      font-size: $font-size-lg;
    }

    &-link {
      font-weight: bold;
      color: $color-accent;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $color-accent;
      }
    }
  }
}

// Estilos del logo
.er-logo {
  max-width: 150px;
}
  
  .header__menu--mobile {
    display: none;
  
    @media (max-width: 768px) {
      display: block;
      cursor: pointer;
    }
  }
  
  // Estilos para el menú desplegable cuando se activa el menú hamburguesa
  .header__menu--active {
    display: flex;
    flex-direction: column;
  }
  

/* estilso apr ala imagen del logo */
  .header__logo-img {
    max-width: 200px; 
    height: auto;
  }
  
  @media (max-width: $mqMinWidth) {
    .header__logo-img {
      max-width: 150px; 
    }
  }
  