// abstracts/_variables.scss

// Variables de colores
$color-primary: #2C3E50;  // Azul oscuro
$color-secondary: #E67E22; // Naranja
$color-background: #F9F9F9; // Fondo claro
$color-text: #333; // Texto principal
$color-accent: #D35400; // Naranja oscuro para acentos
$color-white: #FFF;
$color-dark: #333333;
$color-gray-light: rgb(99, 99, 99);

// Variables de tipografía
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Merriweather', serif;

// Tamaños de texto
$font-size-base: 16px;
$font-size-sm: 14px;
$font-size-lg: 18px;
$font-size-xl: 24px;
$font-size-xxl: 32px;
